<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LoloSports</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/"></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/privado"  *ngIf="user">Articulos</a>
        </li>
      </ul>
      <div class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/login" *ngIf="!user" (click)="login()">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" routerLink="/register" *ngIf="!user" (click)="register()">Register</a>
        </li>
        <li class="nav-item active">
          <a  class="nav-link" href="#" *ngIf="user" (click)="logout()">Cerrar Sesión</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>