<div class="row mt-5">
        <div class="col-sm-4">
            <img src="{{articulo.imagenArticulo}}" style="height:200px">
        </div>
        <div class="col-sm-8">
            <h3>{{articulo.nombre}}</h3>
            <h5>Marca: {{articulo.marca}}</h5>
            <p><span class="font-weight-bold">Descripcion: </span>{{articulo.descripcion}}</p>
            <a class="btn btn-danger">Eliminar articulo</a>
            <a class="btn btn-warning"><i class="fas fa-pencil"></i>Editar articulo</a>
            <a href="#" routerLink="/privado" class="btn btn-default" style="border-color: black;">Volver al listado de articulos</a>
        </div>
    </div>
