<button class="btn btn-primary float-right mb-3" data-toggle="modal" data-target="#modalArticulo">Añadir Articulo</button>
<div class="row mt-5">
            <div class="col-xs-6 col-sm-4 col-md-3 text-center" *ngFor="let articulo of articulos">
                <a href="#" routerLink="/articulo/{{articulo.id}}">
                    <img src="{{articulo.imagenArticulo}}" style="height:200px"/>
                    <h4	style="min-height:45px;margin:5px 0	10px 0">{{articulo.nombre}}</h4>
                </a>
            </div>
</div>
<app-modal></app-modal>

