<div class="login-page">
  <div class="row" *ngIf="authError">
    <div class="col-12 alert alert-danger">
      {{ authError?.message }}
    </div>
  </div>
  <div class=" row form">
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)" class="register-form">
      <input ngModel #username="ngModel" name="username" type="text" id="username" placeholder="username">
      <input ngModel #password="ngModel" name="password" type="password" id="password" placeholder="password">
      <input ngModel #email="ngModel" name="email" type="email" id="email" placeholder="email">
      <button type="submit">Registrar</button>
      <p class="message">¿Ya estás registrado? <a href="/login">Entra aquí</a></p>
    </form>
  </div>
</div>