<div class="login-page">
    <div class="form">
      <form class="login-form"  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="row" *ngIf="authError">
          <div class="col-12 alert alert-danger">{{ authError?.message }}</div>
        </div>
        <input ngModel #email="ngModel" name="email" type="email" placeholder="email">
        <input ngModel #password="ngModel" name="password" type="password" placeholder="password">
        <button>login</button>
        <p class="message">¿No estás registrado? <a href="/register">Crea una cuenta aquí</a></p>
      </form>
    </div>
  </div>